
h2
{
    padding: 20px;
    
}

.App-h2{
    color:rgba(255, 255, 255, 0.87);
    text-align: center;
    border : solid, black ;
    border-radius: 10px;
    background-color: black;
    font-family: 'zantrokeregular', serif;
    
}

.App-nav{
    background-color:rgb(255, 187, 0);
    padding:30px;
    text-align:center
}

.App-ul-nav{
    display: inline-block;
}

.App-li-nav{
    display: inline;
    padding: 50px;
   
    
}

body {
    background-color: rgb(255, 187, 0);
}