.nav-name {
    padding: 30px 30px;
}

#navbar {

    display:block;
    position: fixed;
    width: 100%;
    opacity: 80%;
   
}



.title {
    padding-top: 200px;
    padding-bottom : 80px;
    text-align: center;
    color: rgb(233, 225, 203);
    text-decoration: overline chocolate;
    
}

#yesterday-image {
   
    margin-left: 10px;
    margin-top: 90px;
    border-radius: 100px;  
    
}

body {
    background-color: rgb(0, 0, 0);
}

#yesterday-title {
   text-align: center;
   color: rgb(233, 225, 203);
   margin-top: 50px;
   
}

#yesterday-title2 {
    text-align: center;
    color: rgb(233, 225, 203);
    margin-top: 100px;
    margin-bottom: 100px;
   
 }
 

#yesterday-image2 {
   
    margin-left: 10px;
    margin-top: 90px;
    border-radius: 100px;
    
  
}

#figcap {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

.footer-container {
    color: rgb(233, 225, 203);
    padding: 20px;
    
}

#about-map {
    padding-top: 200px;
    padding-bottom : 80px;
    text-align: center;
    color: rgb(233, 225, 203);
}

#about-contact{

    text-align: center;
    font-size: larger;
    text-decoration-line:overline;
    color: rgb(233, 225, 203);
}

.text-help {
    text-align: center;
    padding-left: 40%;
    padding-right: 40%;
    color:rgb(233, 225, 203);
}

.title-help {
    padding-top: 80px;
    padding-bottom : 80px;
    text-align: center;
    color: rgb(233, 225, 203);
    text-decoration: overline;
}

.text-shop{
    padding : 100px;
    padding-right: 40px;
    color: rgb(233, 225, 203);
    text-align: center;
}

.title-shop{
    color: chocolate;
}

.substitle-story{
    color: chocolate;
}

.login-id{
    padding: 200px;
    padding-bottom: 50px;
    color:rgb(233, 225, 203);
}

.error-mess {
    text-decoration: overline chocolate;
    color: white;
    text-align: center;
}

#carouselExampleDark{
    
    margin: 100px;
    
    
}

.img-nav {

    width: 50px;
    height: 50px;
    padding: 10px;
    margin-top: 15px

}

.carousel-container{
    text-align: center;
    
      
  }
  
  .img {
      border-radius: 1000%;
  }
  

  #errorlastname {
      color: red
  }

  #errorname {
    color: red
}

#errormail {
    color: red
}

#errormess {
    color: red
}
